html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  /* background-color: #142850; */
  background: rgb(20, 40, 80);
  background: linear-gradient(
    159deg,
    rgba(20, 40, 80, 1) 0%,
    rgba(37, 77, 113, 1) 61%,
    rgba(0, 168, 204, 1) 100%
  ) no-repeat center fixed;
  color: white;
  background-size: cover;
}


header {
  text-align: center;
}

.size {
  width: 750px;
  height: 600px;
  background-color: #cbe9f0;
  margin: auto;
  /* margin-bottom: 0.5em; */
  color: black;
  border-radius: 20px;
}

.intro-page {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.intro-title {
  font-size: 3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
  grid-row: 2;
}
.play {
  margin: auto;
  grid-row: 3;
  height: 50px;
  width: 120px;
  font-size: 1.5em;
  border: 1px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: #0c7b93;
  /* background: linear-gradient(
    90deg,
    rgba(17, 45, 78, 1) 0%,
    rgba(219, 226, 239, 1) 35%,
    rgba(63, 114, 175, 1) 78%
  ); */
  color: white;
  cursor: pointer;
}

.hov:hover {
  /* background-color: grey; */
  opacity: 0.5;
}
.choice-menu {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.choice p {
  height: 125px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #0c7b93;
  border-radius: 20px;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.game-page {
  display: none;
  grid-template-columns: 500px 1fr;
}
canvas {
  height: 500px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  justify-self: center;
  align-self: center;
}
/* .country {
  display: none;
} */
.game {
  display: grid;
}
/* .presidents {
  display: none;
}
.random {
  display: none;
} */

.words {
  justify-content: center;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
.hint {
  grid-column: span 10;
  justify-self: center;
  align-self: center;
  font-size: 2em;
}

.alphabets {
  grid-column: span 10;
  grid-row: span 2;
  display: grid;
  grid-template-columns: repeat(13, 50px);
  /* column-gap: 12px; */
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-self: center;
}
.characters {
  padding: 10px 0;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.characters:hover {
  background-color: rgb(255, 255, 255);
}

.letters {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  font-size: 2em;
  text-align: center;
  border-bottom: 3px solid black;
}

.game-over {
  display: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.game-won {
  display: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gover {
  text-align: center;
  grid-row: 2;
  margin: auto;
  font-size: 3em;
  color: red;
}

.won {
  text-align: center;
  grid-row: 2;
  margin: auto;
  font-size: 3em;
  color: gold;
}

.again {
  margin: auto;
  grid-row: 3;
  height: 75px;
  width: 150px;
  font-size: 1.2em;
  border: 1px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: #0c7b93;
  /* background: linear-gradient(
    90deg,
    rgba(17, 45, 78, 1) 0%,
    rgba(219, 226, 239, 1) 35%,
    rgba(63, 114, 175, 1) 78%
  ); */
  color: white;
  cursor: pointer;
}

.exit {
  margin: auto;
  margin-top: 0;
  grid-row: 4;
  height: 40px;
  width: 100px;
  font-size: 1.2em;
  border: 1px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: #0c7b93;
  /* background: linear-gradient(
    90deg,
    rgba(17, 45, 78, 1) 0%,
    rgba(219, 226, 239, 1) 35%,
    rgba(63, 114, 175, 1) 78%
  ); */
  color: white;
  cursor: pointer;
}

#footer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  position: fixed;
  right: 0;
  bottom: 1em;
}

#footer ul {
  list-style-type: none;
  margin: 0;
  margin-top: 1em;
  font-size: 0.9em;
}
#footer li {
  margin: 0;
  margin-top: 0.5em;
  margin-right: 1em;
  text-align: right;
}
